.places {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  max-width: 984px;
  margin: auto;
  padding: 0 20px 80px;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image text"
    "button text";
}

.place__title {
  width: 460;
  height: 228;
  opacity: 1;
  top: 2403px;
  left: 148px;
  grid-column: 1;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 20px;
  color: rgba(255, 255, 255, 1);
  grid-area: title;
}

.place__website {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  grid-area: website;
}

.place__url-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 11px;
  color: rgba(255, 255, 255, 1);
}

.place__artist {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.place__image {
  width: 100%;
  object-fit: cover;
  grid-area: image;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: text;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.place__button {
  width: fit-content;
  margin: 10px;
  padding: 13px 20px;
  width: 356.08233642578125;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(2, 120, 254, 1),
    rgba(0, 58, 123, 1)
  );
  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  align-self: start;
  cursor: pointer;
}

.place__button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .places {
    padding: 0 32px 60px;
    gap: 60px;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .place__title {
    font-size: 36px;
    margin: 0;
  }

  .place__image {
    width: 100%;
    object-fit: cover;
  }

  .place__button {
    margin-top: 0;
    align-self: flex-start;
  }
}

@media (max-width: 320px) {
  .places {
    padding: 0 16px 48px;
    gap: 48px;
  }

  .place__title {
    font-size: 28px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    font-size: 16px;
    padding: 11px 16px;
  }
}
